.film-container {
    display: flex;
    flex-wrap: wrap;
}

.film {
    margin: 5px;
    width: 226px;
    height: 280px;
    padding: 5px;
}

.film img {
    width: 100%;
    height: auto; 
}
